:root {
    --primaryblue: #2C98F9;
    --mediumblue: #0A70CB;
    --darkblue: #00325F;
    --lightgray: #E5E5E5;
    --mediumgray: #CECECE;
    --plusgray: #808080;
    --darkgray: #303030;
    --shadow: 2px 2px 10px 0px #80808050;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    height: auto;
}
header,
article,
footer {
    width: 100%;
}
.btn-blue {
    width: 180px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--primaryblue);
    color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.center {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 90px;
    border-bottom: 1px solid #cecece;
}
.topo-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.theme-site {
    height: 100%;
    display: flex;
    align-items: center;
}
.topo-nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.topo-nav nav  {
    width: 100%;
    padding: 0 15px;
}
.topo-nav nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.topo-nav li {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.topo-nav li:hover {
    color: var(--primaryblue);
    cursor: pointer;
    background-color: #F1F1F1;
}
.banner-topo {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-around;
}
.banner-topo_texto {
    width: 40%;
}
.banner-topo_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner-topo_texto h2 {
    font-size: 32px;
}
.banner-topo_texto h5 {
    font-size: 22px;
    font-weight: 400;
}
.banner-topo_ilustracao {

}
.sobre-secao {
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.banner-sky {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
}
.area-sobre-secao {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.perfil-img {
    position: relative;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #FFF;
    overflow: hidden;
}
.area-sobre-secao h2 {
    color: #FFF;
    margin-top: 40px;
    font-size: 28px;
}
.texto-sobre {
    font-size: 18px;
    margin-top: 30px;
    width: 400px;
    text-align: center;
}
.blocos-sobre {
    width: 100%;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
}
.bloco-sobre {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 30px 0;
    padding: 24px 12px;
}
.curriculo-secao {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.curriculo-secao h2 {
    font-size: 28px;
}
.curriculo-secao h5 {
    margin: 20px 0;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.area-curruculo {
    width: 100%;
    max-width: 800px;
    border: 1px solid #000;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.formacao {
    width: 100%;
}
.item-formacao {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.img-formacao {
    border: 1px solid #cecece;
    border-radius: 6px;
    margin-right: 20px;
}